body{
    background-image:url('https://img.freepik.com/vector-premium/fondo-rosas-dibujadas-mano-hojas_23-2147623420.jpg?w=2000');
    background-repeat: no-repeat;
    background-repeat: cover;
}