body{
    background-image: url('https://previews.123rf.com/images/fedorovastock/fedorovastock1701/fedorovastock170100274/68791806-vector-transparente-textura-de-una-variedad-de-rosas-frambuesa-rosa-a-fondo-rosa-p%C3%A1lido.jpg');
    background-size: cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}